<section class="kb-custom-section kb-gbl kb-badges kb-scheme-{{ section.settings.scheme}}">
  <div class="kb-gbl-inner">
  	<header class="kb-triple-header">
  		{% if section.settings.intro_title != blank %}
  			<h2 class="kb-triple-heading">{{ section.settings.intro_title }}</h2>
  		{% endif %}
  		{% if section.settings.intro_content != blank %}
  			<div class="kb-triple-intro">
	  			{{ section.settings.intro_content }}
	  		</div>
  		{% endif %}
  	</header>
  	<main class="kb-triple-main">
  		<ul class="kb-badges-list">
  			{% for block in section.blocks %}
	  			<li class="kb-badges-list-item">
			  		{% if block.settings.url != blank %}
			  			<a href="{{block.settings.url}}">
			  				{% render 'responsive-image' with block.settings.image, loading: 'eager', alt: alt %}
			  			</a>
		  			{% else %}
		  				{% render 'responsive-image' with block.settings.image, loading: 'eager', alt: alt %}
			  		{% endif %}
	  				
	  			</li>
	  		{% endfor %}
  		</ul>
  	</main>
  	<footer class="kb-triple-footer">
  		{{ section.settings.outro_content }}
  	</footer>
  </div>
</section>

{% schema %}
{
  "name": "KB Badges With Context",
  "tag": "section",
  "class": "section--badges-w-context",
  "settings": [
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "text",
      "id": "intro_title",
      "label": "Section Title",
      "default": "Title Goes Here"
    },
    {
      "type": "richtext",
      "id": "intro_content",
      "label": "Intro Content",
      "default": "<p>Block story goes here</p>"
    },
    {
      "type": "image_picker",
      "id": "hero_image",
      "label": "Full Width Hero Image"
    },
    {
      "type": "video",
      "id": "hero_video",
      "label": "Full Width Hero Video"
    },
    {
      "type": "select",
      "id": "scheme",
      "label": "Colour Scheme",
      "default": "none",
      "options": [
        {
          "value": "none",
          "label": "No Background"
        },
        {
          "value": "light",
          "label": "Light Background"
        }
      ]
    },
    {
      "type": "richtext",
      "id": "outro_content",
      "label": "Footer Content (Optional)"
    }
  ],
  "blocks": [
  	{
  	  "type": "item",
  	  "name": "Badge",
  	  "settings": [
  	    {
  	      "type": "image_picker",
  	      "id": "image",
  	      "label": "Block Image"
  	    },
  	    {
          "type": "url",
          "id": "url",
          "label": "Link (Optional)"
        },
  	  ]
  	}
  ],
  "presets": [
    {
      "name":"KB Badges With Context"
    }
  ]
}
{% endschema %}