<section class="kb-custom-section kb-gbl kb-triple kb-scheme-{{ section.settings.scheme}}">
  <div class="kb-gbl-inner">
  	<header class="kb-triple-header">
  		{% if section.settings.intro_title != blank %}
  			<h2 class="kb-triple-heading">{{ section.settings.intro_title }}</h2>
  		{% endif %}
  		{% if section.settings.intro_content != blank %}
  			<div class="kb-triple-intro">
	  			{{ section.settings.intro_content }}
	  		</div>
  		{% endif %}
  	</header>
  	<main class="kb-triple-main">
  		{% if section.settings.hero_image != blank or section.settings.hero_video != blank %}
  		<figure class="kb-triple-hero">
  			{% if section.settings.hero_video != blank %}
	  			{% render 'native-video' with video: section.settings.hero_video, autoplay: true, loop: true, muted: true, overlay: false, controls: false %}
  			{% else %}
	  			{% render 'responsive-image' with section.settings.hero_image, loading: 'eager', alt: alt %}
  			{% endif %}
  		</figure>
  		{% endif %}
  		<ul class="kb-triple-trio">
  			{% for block in section.blocks %}
	  			<li class="kb-triple-trio-item">
            {% if block.settings.image != blank %}
	  				 {% render 'responsive-image' with block.settings.image, loading: 'eager', alt: alt %}
            {% endif %}
	  				<h3>{{ block.settings.heading }}</h3>
	  				<div class="text">
	  					{{ block.settings.content }}
	  				</div>
	  			</li>
	  		{% endfor %}
  		</ul>
  	</main>
  	<footer class="kb-triple-footer">
  		{{ section.settings.outro_content }}
  	</footer>
  </div>
</section>

{% schema %}
{
  "name": "KB Triple Column",
  "tag": "section",
  "class": "section--triple-column",
  "settings": [
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "text",
      "id": "intro_title",
      "label": "Section Title",
      "default": "Title Goes Here"
    },
    {
      "type": "richtext",
      "id": "intro_content",
      "label": "Intro Content",
      "default": "<p>Block story goes here</p>"
    },
    {
      "type": "image_picker",
      "id": "hero_image",
      "label": "Full Width Hero Image"
    },
    {
      "type": "video",
      "id": "hero_video",
      "label": "Full Width Hero Video"
    },
    {
      "type": "select",
      "id": "scheme",
      "label": "Colour Scheme",
      "default": "none",
      "options": [
        {
          "value": "none",
          "label": "No Background"
        },
        {
          "value": "light",
          "label": "Light Background"
        }
      ]
    },
    {
      "type": "richtext",
      "id": "outro_content",
      "label": "Footer Content (Optional)"
    }
  ],
  "max_blocks": 3,
  "blocks": [
  	{
  	  "type": "item",
  	  "name": "Column Item",
  	  "settings": [
  	    {
  	      "type": "image_picker",
  	      "id": "image",
  	      "label": "Block Image"
  	    },
  	    {
  	      "type": "text",
  	      "id": "heading",
  	      "label": "Block Heading",
  	      "default": "Block Title"
  	    },
  	    {
	      "type": "richtext",
	      "id": "content",
	      "label": "Block Content",
	      "default": "<p>Block story goes here</p>"
	    }
  	  ]
  	}
  ],
  "presets": [
    {
      "name":"KB Triple Column"
    }
  ]
}
{% endschema %}